@font-face {
  font-family: 'Open Sans';
  src: url("fonts/OpenSansregular.ttf"); }

* {
  margin: 0; }

body {
  font-family: 'Open Sans', Helvetica, sans-serif; }

a {
  text-decoration: none; }

.admin-tabs {
  border-bottom: 18px solid #7DC5C0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .admin-tabs > a, .admin-tabs > div {
    display: inline-block;
    cursor: pointer;
    line-height: 3em;
    height: 3em;
    font-size: 1em;
    color: #bbb;
    padding: 0 2em; }
    .admin-tabs > a:not(.selected), .admin-tabs > div:not(.selected) {
      border-right: 1px solid #eee; }
    .admin-tabs > a.selected, .admin-tabs > div.selected {
      color: #fff;
      background: #89CAC3; }

.admin-pages > div {
  padding: 2em; }
  .admin-pages > div:not(:first-child) {
    display: none; }
  .admin-pages > div input[type="text"],
  .admin-pages > div textarea {
    width: 100%;
    font-size: 1em;
    padding: 0.6em 0.8em;
    border: 1px solid #ddd; }
    .admin-pages > div input[type="text"]:focus,
    .admin-pages > div textarea:focus {
      outline: none; }
  .admin-pages > div .button,
  .admin-pages > div button {
    font-size: 1em;
    padding: 0.6em 0.8em;
    border: 1px solid #ddd;
    background: #eee;
    cursor: pointer;
    color: #888; }
    .admin-pages > div .button:focus,
    .admin-pages > div button:focus {
      outline: none; }
  .admin-pages > div textarea {
    min-height: 8em; }

.item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  margin-bottom: 1em;
  padding: 1em;
  background: #fafafa;
  border: 1px solid #eaeaea;
  color: #666;
  cursor: pointer; }
  .item div {
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden; }
    .item div:not(last-child) {
      margin-right: 1em; }

.wrapper {
  max-width: 800px;
  margin: 0 auto; }

.edit-button {
  margin-right: 1em; }
